@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    /* Medidas Absolutas: centimetros (cm), milímetro (mm), polegada (in), pixel (px), ponto (pt), paica (pc).
    
    
    Medidas Relativas: em (media relativa ao tamanho atual da fonte), ex (altura x de uma fonte), rem, vw (largura da viewport), vh (altura da viewport) %.
    16px geralmente é = a 1em
    */
    font-size: 1.5em;
}