@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    background-color: black;
    min-height: 150px;
}

header h1 {
    color: white;
    text-align: center;
    font-family: 'Passion One', cursive;
    font-weight: 500;
    font-size: 98px;
    padding-top: 50px;
}

header p {
    color: white;
    text-align: center;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

header a {
    color: white;
}

main p {
    font-family: 'Sriracha', cursive;
    font-size: 34px;
    line-height: 2.5em;
    padding-left: 30px;
    padding-top: 67px;
}

.imagem1 {
    background-image: url(../imagens/background001.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 100px;
    height: 98vh;
}

.imagem1 p {
    background-color: rgba(0, 0, 0, 0.253);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.89);
    max-width: 300px;
    max-height: 1000px;
    margin-left: 50px;
    padding: 10px;
    color: white;
    line-height: 1.2em;
}

.imagem2 {
    background-image: url(../imagens/background002.jpg);
    background-position: right right;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 100px;
    height: 97vh;
}

.imagem2 p {
    background-color: rgba(0, 0, 0, 0.253);
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.699);
    max-width: 300px;
    max-height: 780px;
    margin-left: 50px;
    line-height: 1em;
}

footer {
    background-color: black;
    margin-top: 100px;
    height: 40px;
}

footer p {
    color: white;
    padding-top: 10px;
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
}

footer a {
    color: white;
}